In [2]:
#import sql library package
import sqlite3

In [4]:
#connect to the DB and close connection
connection=sqlite3.connect('classroomsDB.db')
connection.close()

In [29]:
#create table
connection=sqlite3.connect('classroomsDB.db')
#second step is to open a curso
cursor=connection.cursor()
#query for creating table
create_table= """
                CREATE TABLE classrooms (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR (1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#create query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

In [30]:
#inserting Data
classroom_data=[(1,'Raj','M',70,84,92),
               (2,'Poonan','F',87,69,93),
                (3,'Nik','M',65,83,90),
                (4,'Rahui','F',83,76,89)
               ]
#connection setup
connection=sqlite3.connect('classroomsDB.db')
#open curso
cursor=connection.cursor()
#insert each student data
for student in classroom_data:
    insert_statement="""
                    
                    INSERT INTO classrooms
                    (student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks)
                    VALUES
                    ({0},'{1}','{2}',{3},{4},{5});
                    
                    """.format(student[0],student[1],student[2],student[3],student[4],student[5]) 
    #execute query
    cursor.execute(insert_statement)
#commit changes
connection.commit()
#close connection
connection.close()

In [31]:
#createconnection
connection=sqlite3.connect('classroomsDB.db')

#open cursor
cursor=connection.cursor()
#query
query='SELECT * FROM classrooms'
#execute query
cursor.execute(query)
#fetch results
results=cursor.fetchall()
#print results
for row in results:
    print(row)
#connection close
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonan', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahui', 'F', 83, 76, 89)

Extracting from mysql database

In [36]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.9.3-py2.py3-none-any.whl (47 kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [37]:
#import pymsql library package 
import pymysql

In [ ]:
#connecting